@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@500&display=swap");

/*HEADER*/
.navbar-container {
  background-color: rgba(0, 0, 0, 0.75);
}

.home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./assets/header-bg.jpg");
  height: 800px;
}

.organisers {
  background-image: linear-gradient(
      rgba(255, 0, 153, 0.5),
      rgba(73, 50, 64, 0.5)
    ),
    url("./assets/adcom.jpeg");
  height: 800px;
}
.bg-overlay {
  background-size: cover;
}

.heading-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  justify-content: center;
}

.intro-heading {
  font-family: "Ubuntu", sans-serif;
  font-size: 72px;
  color: white;
}

.intro-subtext {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  color: white;
}

/*CONTENT*/
.heading {
  font-family: "Ubuntu", sans-serif;
  margin-bottom: 20px;
}

.content {
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
}

.about {
  margin-top: 20px;
}

.about-heading {
  font-size: 32px;
}

.about-content {
  font-size: 22px;
}

/*PUBLISHERS*/
.pub-card {
  padding: 10px;
}

/*ORGANISERS*/
.pat-img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.patrons-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.org-img {
  width: 250px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
}

.sec-row {
  display: flex;
  justify-content: center;
}

.sec-card {
  margin: 0px 60px;
  padding: 10px;
}

.adv {
  font-size: 24px;
}
