@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@500&display=swap");

/*HEADER*/
.navbar-container {
  background-color: rgba(0, 0, 0, 0.75);
}

.bg-overlay {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./assets/header-bg.jpg");
  background-size: cover;
  height: 800px;
}

.heading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro-heading {
  font-family: "Ubuntu", sans-serif;
  font-size: 82px;
  color: white;
}

.intro-subtext {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  color: white;
}

/*CONTENT*/
.heading {
  font-family: "Ubuntu", sans-serif;
  margin-bottom: 20px;
}

.content {
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
}

.about {
  margin-top: 20px;
}

.about-heading {
  font-size: 32px;
}

.about-content {
  font-size: 22px;
}

/*PUBLISHERS*/
.pub-card {
  padding: 10px;
}
